<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%date{ISO8601}) | %highlight(%.-1level) | %-5.5thread | %replace(%replace(%msg){'\r|\n',' '}){'\s{3,}',' '} | %-30.30logger{30}%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>
